
button {
    height: 10vh;
}

h1 {
}

.game {
    color: blue;
    height: 50vh;
    margin-left: 30vw;
    margin-top: 20vh;
}

label {
    color: red;
}

.lowSpeed {
    color: green;
    font-size: calc(1vw + 1em);
}

.midSpeed {}

.highSpeed {
    color: red;
    font-size: calc(1.3vw + 1.3em);
}