
button {
    height: 10vh;
}

h1 {
}

.game {
    color: blue;
    height: 50vh;
    margin-left: 30vw;
    margin-top: 20vh;
}

label {
    color: red;
}

.lowSpeed {
    color: green;
    font-size: calc(1vw + 1em);
}

.midSpeed {}

.highSpeed {
    color: red;
    font-size: calc(1.3vw + 1.3em);
}

.blinktext {
	 animation: blink-text 400ms linear infinite;
     font-size: calc(1vw + 1em);

}

@keyframes blink-text {
    99% { color: rgb(255, 0, 0); opacity: 1; }
	0% { color: rgb(255, 255, 255);opacity: 1; }
}